.Rooms-outer {
    display: flex;
}

.rooms {
    width: 30%;
    color: white;
    height: 80vh;
    overflow-y: scroll;
}

#chatHeading {
    position: sticky;
    top: 0px;
    background-color: var(--secondaryBlue);
}

.rooms ul li {
    background-color: var(--blue);

    padding: 10px;
    border: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.2s ease;
}

.rooms ul li:hover {
    background-color: var(--secondaryBlue);
}

#chat {
    width: 70%;
    height: 80vh;
    background-color: var(--blue);
    border-left: 10px solid white;
    display: flex;
    justify-content: center;

}

.roomname {
    font-size: x-large;
}

.roomAddress {
    font-size: medium;
    color: antiquewhite;
}



#chatBox {
    width: 70%;
    height: 80vh;
    background-color: var(--blue);
    border-left: 10px solid white;
    display: none;
    justify-content: center;
}